name: Tests
on:
  push:
    branches: [main]
  pull_request:
  schedule:
    # 16:24 UTC on Tuesdays
    - cron: "24 16 * * tue"
  workflow_dispatch:
  repository_dispatch:
    types: [tests]

env:
  DOCKER_BUILDKIT: 1
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build
        run: docker build . --pull -f varia/Dockerfile.tests --tag=rocket-sentry-build
      - name: Test suite
        run: docker run --rm rocket-sentry-build cargo test --color=always
      - name: Clippy lints
        run: docker run --rm rocket-sentry-build cargo clippy --color=always --all-targets --all-features
      - name: rustfmt
        run: docker run --rm rocket-sentry-build cargo fmt -- --color=always --check
